
:root {
    --header-height: 50px;
    --footer-height: 30px;
    --side-menu-width: 80px;
    --setting-panel-width: 200px;
    --main-action-margin-left: 100px;
    --image-info-height: 20px;
    --image-info-margin-top: 10px;
    --font-size: 1rem;
    --footer-font-size: 0.8rem;
    --main-header-background: #053852;
    --side-menu-background: #143d52;
    --setting-background: #1c4a61;
    --work-area-background: #021722;
    --footer-background: #0c3642;
    --text-color: #F6F2E6;
    --image-info-text-color: #646462;
}

html {
    font-family: Georgia, serif;
}

body {
    margin: 0;
    font-size: var(--font-size);
    font-family: serif;
}

.container {
    margin: 0;
}

.main-header {
    height: var(--header-height);
    background-color: var(--main-header-background);
    display: flex;
}

.logo a {
    line-height: var(--header-height);
    /* font-size: 40px; */
    text-decoration-line: none;
    color: var(--text-color);
    margin-left: 20px;
}

.main-action {
    margin-left: var(--main-action-margin-left);
}

.main-action ul {
    display: flex;
    margin: 0;
    height: var(--header-height);
}

.main-action__item {
    list-style-type: none;
    margin-right: 30px;
    line-height: var(--header-height);
}

.main-action__item a {
    color: var(--text-color);
    /* font-size: 30px; */
    text-decoration-line: none;
}

.middle-area {
    display: flex;
}

.side-menu {
    background-color: var(--side-menu-background);
    margin: 0px;
    width: var(--side-menu-width);
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
}

.side-menu__item {
    list-style-type: none;
    text-align: center;
}

.side-menu__item a {
    line-height: 100px;
    color: var(--text-color);
    /* font-size: 30px; */
    text-decoration-line: none;
}

.setting {
    background-color: var(--setting-background);
    width: var(--setting-panel-width);
    height: calc(100vh - var(--header-height) - var(--footer-background));
}

.setting-section {
    margin-top: 30px;
}

.setting-label {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0 10px;
}

.setting-input {
    width: 80px;
}

.work-area {
    background-color: var(--work-area-background);
    width: calc(100vw - var(--side-menu-width) - var(--setting-panel-width));
    height: calc(100vh - - var(--header-height) - var(--footer-height));
    color: var(--main-header-background);
}

.image-info-section {
    width: 100%;
    height: var(--image-info-height);
    margin-top: var(--image-info-margin-top);
    text-align: center;
}

.image-info-section label {
    color: var(--image-info-text-color);
    line-height: var(--image-info-height);
    margin: 0 20px;
}

.image-info-section .clickable {
    cursor: pointer;
}

.canvas-section {
    border-bottom: solid 1px;
    width: calc(100% - 40px);
    height: calc(100% - 40px - var(--image-info-height) - var(--image-info-margin-top));
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
}

#work-canvas {
    position: absolute;
}

footer {
    height: var(--footer-height);
    background-color: var(--footer-background);
}

footer p {
    margin: 0;
    color: var(--text-color);
    text-align: center;
    line-height: var(--footer-height);
    font-size: var(--footer-font-size);

}