body {
    height: 100vh;
}
.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.content-area {
    height: calc(100vh - 56px);
}

.jumbotron {
    min-height: 100%;
    margin-bottom: 0px;
    padding: 100px;
}

.document-content {
    display: grid;
    grid-template-columns: 60px 300px 1fr;
    height: 100%;
}

.document-content-first-level-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: auto;
    height: 100%;
}
.document-content-sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y: auto;
    height: 100%;
}

.document-content-right-container {
    grid-column-start: 3;
    height: 100%;
}

.demo-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.demo-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.demo-original-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.demo-processed-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .demo-original-img-caption {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    justify-content: center;
}

.demo-processed-img-caption {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    align-items: center;
    justify-content: center;
} */

.demo-code-block {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    align-items: center;
    justify-content: center;
    background-color:powderblue;
    margin: 50px;
    padding-top: 20px;
}

.demo-item-param-container {
    display: grid;
    grid-template-columns: 1fr 250px;
}

.demo-item-param {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
}

.demo-item-param-label {
    margin-left: 50px;
    margin-right: 20px;
    float: left;
}

.demo-item-param-textarea {
    margin-right: 20px;
    float: left;
    height: 100px;
    width: 100%;
}

.demo-buttons {
    display: flex;
    grid-column-start: 2;
    flex-direction: column;
}

.demo-buttons>button {
    margin-top: 10px;
    width: 150px;
}

p5-img {
    height: 350px;
}



