.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.content-area {
    height: calc(100vh - 56px);
}

.jumbotron {
    min-height: 100%;
    margin-bottom: 0px;
    padding: 100px;
}

.document-content {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.document-content-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
}

.document-content-left-container {
    grid-column-start: 2;
}


