body {
    height: 100vh;
}
.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
.content-area {
    height: calc(100vh - 56px);
}

.jumbotron {
    min-height: 100%;
    margin-bottom: 0px;
    padding: 100px;
}

.document-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

.document-content-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: auto;
    height: 100%;
}

.document-content-right-container {
    grid-column-start: 2;
    height: 100%;
}

.demo-container {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.demo-original-img {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    justify-content: center;
}

.demo-processed-img {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    align-items: center;
    justify-content: center;
}

.demo-original-img-caption {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    justify-content: center;
}

.demo-processed-img-caption {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    align-items: center;
    justify-content: center;
}

.demo-code-block {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    align-items: center;
    justify-content: center;
    background-color:powderblue;
    margin: 50px;
}

.demo-filter-param {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
    /*justify-content: center; */
    /* background-color:rgb(37, 105, 114); */
    /* margin: 50px; */
}

.demo-filter-param-label {
    margin-left: 50px;
    margin-right: 20px;
    float: left;
}

.demo-filter-param-textarea {
    margin-right: 20px;
    float: left;
    height: 100px;
    width: 100%;
}

.demo-buttons {
    display: flex;
    grid-column-start: 4;
    grid-column-end: 5;
    /* align-items: center;
    justify-content: center; */
    /* background-color:powderblue; */
    flex-direction: column;
}

.demo-buttons>button {
    margin-top: 10px;
    width: 150px;
}

p5-img {
    height: 350px;
}



