body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

body>div {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;

}

div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: solid 1px;
  /* width: 80%; */
  margin: 0px 20px;
  height: 80%;
}

label {
  color: white;
  font-size: 1.5em;
  margin-top: 8px;
}

gl-img {
  --width: 600px;
  --height: 600px;
  --object-fit: contain;
}
