
.nav {
  background-color:rgb(172, 159, 230);
}

#tab-container {
  position: fixed;
  top: 70px;
  z-index: 2;
  width: 100%;
  height: 60px;
  background:rgb(172, 159, 230); 
  border-top: solid 1px white;
  display: flex;
  justify-content: space-around;  
  align-items: center;
}

.tab-label {
  width: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background-color:  rgb(172, 159, 230);
  color: white;
  margin: 0;
  cursor: pointer;
}

.tab-label:hover {
  font-weight: bolder;
}

.tab-label.pointer {
  cursor: pointer;
}

.tab-label.active {
  background-color: rgb(124, 101, 226);
}


#drawing-container {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 130px;
}

.card {
  border: none;
  text-align: center;
  /* min-width: calc(100vw / 5); */
  width: 500px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(198, 240, 236);
}

.card img {
  width: 100%;
}


.card p {
  /* background-color:lightblue; */
  background-color: rgb(198, 240, 236);
  color: rgb(128, 16, 233);
  margin-bottom: 0px;
}

#drawing-popup-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

#drawing-popup {
  /* position: relative; */
  display: flex;
  margin-top: 130px;
  padding-top: 0px;
  padding-bottom: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 1);
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

#leftArrowIcon {
  font-size: 40px;
  color: white;
  position: relative;
  float: left;
  margin-right: -60px;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
  z-index: 2;
  /* display: none; */
}

#rightArrowIcon {
  font-size: 40px;
  color: white;
  position: relative;
  float: right;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
  margin-left: -60px;
  /* display: none; */
}

#crossIcon {
  font-size: 40px;
  color: white;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 6px;
  /* display: none; */
}

#popupImg {
  object-fit: cover;
  position: relative;  
}

#popupImg:hover ~ .fas {
  display: block;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;;
  -o-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
