@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  line-height: 70px;
  text-align: center;
  z-index: 2;
  display: block;
  background-color: rgba(46, 11, 243, 0.2);
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.main_list {
  float: right;
  height: 65px;
  padding-left: 20px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 70px;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 65px;
  font-size: 1.4rem;
  padding: 7px 13px;
  border-radius: 3px;
}


.nav div.main_list ul li a.active, .nav div.main_list ul li a:hover {
  background-color: lightcoral;
  transition: 0.5s;
}

.nav .nav-icon {
  height: 100%;
  justify-content: center;
  float: right;
  margin-right: 30px;
  display: none;
}
.nav i {
  line-height: 70px;
  font-size: 30px;
  color:lightcoral;
}

#check {
  display: none;
}

.container-fluid {
  padding: 0;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: skyblue;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.jumbotron-background {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

.jumbotron-background img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

@keyframes backgroundFadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.jumbotron-background img.top {
  animation-name: backgroundFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}

.jumbotron .container {
  z-index: 2;
  position: relative;
  top: 40vh;
  text-align: center;
}

img.blur {
  -webkit-filter: blur(3px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}

#intro-container {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 100vh;
  /* text-align: center; */
  /* justify-content: center; */
  /* font-family:courier,arial,helvetica; */
}

.intro-head {
  color: rgba(143, 30, 153, 0.986);
  font-size: 40px;
}

.intro-detail {
  color:  rgba(122, 105, 16, 0.945);
  font-size: 25px;
}

#intro-head-small, #intro-detail-small {
  display: none;
}

@media (max-width: 950px) {
  #intro-head-small {
    display: block;
    font-size: 30px;
  }

  #intro-detail-small {
    display: block;
    font-size: 15px;

  }

  #intro-head-big, #intro-detail-big {
    display: none;
  }

  .nav .nav-icon {
    display: block;
  }
  
  .nav .nav-icon:hover {
    cursor: pointer;
  }
  .nav div.main_list{
    position: fixed;
    top: 70px;
    left: 100%;
    width: 70%;
    height: 100vh;
    background: rgba(3, 101, 182, 0.8);
    text-align: center;
    opacity: 1;
    transition: all 0.5s;
  }

  .nav div.main_list ul{
    width: 100%;
    padding-top: 20px;
    display: block;
  }

  .nav div.main_list ul li a{
    font-size: 20px;
  }
  .nav div.main_list ul li a:hover, .nav div.main_list ul li a.active {
    background: none;
    color: lightcoral;
  }

  #check:checked ~ div.main_list {
    left: 35%;
  }
  
}