#drawing-container {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 70px;
}

/* .gallery {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-width: 50%;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  margin-bottom: 30px;
  padding-bottom: 30px;
} */

@media (max-width: 1000px) {
  /* .gallery {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  } */
}

.card {
  border: none;
  text-align: center;
}

.card p {
  /* margin-top: -40px; */
  background-color:lightblue;
  color: white;
}

.carousel-indicators li {
  width: 100px;
  height: 20px;
  /* border-radius: 100%; */
  background-color: lightcoral;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  /* outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  color: lightcoral;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: lightcoral;
}

button {
  width: 200px;
  height: 50px;
}

#drawing-popup-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

#drawing-popup {
  /* position: relative; */
  display: flex;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

#leftArrowIcon {
  font-size: 40px;
  color: white;
  position: relative;
  float: left;
  margin-right: 50px;
}

#rightArrowIcon {
  font-size: 40px;
  color: white;
  position: relative;
  float: right;
  margin-left: 50px;
}

#crossIcon {
  font-size: 40px;
  color: white;
  position: absolute;
}

#popupImg {
  object-fit: cover;
  position: relative;  
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;;
  -o-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
