#drawing-container {
  padding-left: 20%;
  padding-right: 20%;
}

.gallery {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-width: 50%;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.gallery .pics .img-fluid {
  border-style: solid;
  border-width: 5px;
  border-color: lightblue;
}

@media (max-width: 1000px) {
  .gallery {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-width: 100%;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  }
}

.carousel-indicators li {
  width: 100px;
  height: 20px;
  /* border-radius: 100%; */
  background-color: lightcoral;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  /* outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  color: lightcoral;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 35px;
  color: lightcoral;
}

button {
  width: 200px;
  height: 50px;
}
