#board {
  position: fixed;
  top: 70px;
  text-align: center;
  justify-content: center;
  background-color: lightblue;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 100vh;
}

canvas {
  border-style: solid;
  border-width: 10px;
  border-color: lightseagreen;
}

#buttonDiv {
  text-align: center;
  justify-content: center;
}

