
:root {
    --header-height: 50px;
    --footer-height: 30px;
    --side-menu-width: 80px;
    --side-menu-icon-width: 50px;
    --setting-panel-width: 200px;
    --main-action-margin-left: 100px;
    --image-info-height: 20px;
    --image-info-margin-top: 10px;
    --font-size: 1rem;
    --footer-font-size: 0.8rem;
    --main-header-background: #053852;
    --setting-background: #1c4a61;
    --work-area-background: #021722;
    --footer-background: #0c3642;
    --text-color: #F6F2E6;
    --image-info-text-color: #646462;
}

html {
    font-family: Georgia, serif;
}

body {
    margin: 0;
    font-size: var(--font-size);
    font-family: serif;
}

.container {
    margin: 0;
}

.main-header {
    height: var(--header-height);
    background-color: var(--main-header-background);
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo svg {
    margin-left: 10px;
    align-self: center;
}


.logo a {
    line-height: var(--header-height);
    /* font-size: 40px; */
    text-decoration-line: none;
    color: var(--text-color);
}

.main-action {
    margin-left: var(--main-action-margin-left);
}

.main-action ul {
    display: flex;
    margin: 0;
    height: var(--header-height);
}

.main-action__item {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    line-height: var(--header-height);
    align-items: center;
    justify-content: center;
}

.main-action__item span {
    display: flex;
    color: rgb(200, 200, 200);
    /* font-size: 30px; */
    text-decoration-line: none;
    justify-content: center;
    align-content: center;
}

.main-action__item span:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.main-action__item span:hover svg {
    fill: rgb(255, 255, 255);
}

.main-action__item span svg{
    fill: rgb(200, 200, 200);
    align-self: center;
    margin-left: 5px;
}


.middle-area {
    display: flex;
}

.side-menu {
    background-color: var(--side-menu-background);
    margin: 0px;
    width: var(--side-menu-width);
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
}

.side-menu__item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: 30px 0px;
}

.side-menu__item a {
    /* line-height: 100px; */
    width:  var(--side-menu-width);
    margin-top: 2px;
    color: var(--text-color);
    font-size: 10px;
    text-decoration-line: none;
}

.side-menu__item svg {
    align-self: center;
    width: var(--side-menu-icon-width);
    height: var(--side-menu-icon-width);
    fill: rgba(155,155,155,1);
}

.setting {
    background-color: var(--setting-background);
    width: var(--setting-panel-width);
    height: calc(100vh - var(--header-height) - var(--footer-background));
}

.setting-section {
    margin-top: 30px;
}

.setting-label {
    font-size: 1rem;
    color: var(--text-color);
    margin: 0 10px;
}

.setting-input {
    width: 80px;
}

.work-area {
    background-color: var(--work-area-background);
    width: calc(100vw - var(--side-menu-width) - var(--setting-panel-width));
    height: calc(100vh - - var(--header-height) - var(--footer-height));
    color: var(--main-header-background);
}

.image-info-section {
    width: 100%;
    height: var(--image-info-height);
    margin-top: var(--image-info-margin-top);
    text-align: center;
}

.canvas-section {
    border-bottom: solid 1px;
    width: calc(100% - 40px);
    height: calc(100% - 40px - var(--image-info-height) - var(--image-info-margin-top));
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    position: relative;
}

#work-canvas {
    position: absolute;
}

footer {
    height: var(--footer-height);
    background-color: var(--footer-background);
}

footer p {
    margin: 0;
    color: var(--text-color);
    text-align: center;
    line-height: var(--footer-height);
    font-size: var(--footer-font-size);

}