<section class="work-area" id="work-area">
  <div class="canvas-section" id="canvas-section">
    <!-- <canvas id="workCanvas"></canvas> -->
    <gl-img filters='[
      {"name": "GrayScaleFilter"},
      {"name": "BlockblurFilter", "radius": 10.0}
      ]' src="../../assets/images/canvas_init.jpg"> 
    </gl-img>
  </div>
  <div class="image-info-section">
    <label id="image-size-label">size:</label>
    <label id="image-orignal-size-label" class="clickable">original</label>
    <label id="image-fit-size-lable" class="clickable">fit</label>
    <label id="image-zoom-in-label" class="clickable">zoom in</label>
    <label id="image-zoom-out-label" class="clickable">zoom out</label>
  </div>
</section>