<div class="side-panel">
  <div class="side-menu">
    <ul>
      <li class="side-menu__item" id="side-menu__resize"><a href="#">resize</a></li>
      <li class="side-menu__item" id="side-menu__sprite"><a href="#">sprite</a></li>
    </ul>
  </div>
  <div class="setting" id="setting-panel">
    <section class="setting-section" id="resize-setting-section">
      <label class="setting-label">width: </label><input class="setting-input" type="number" placeholder="512">
    </section>
  </div>
</div>
