.side-panel {
  width: auto;
  height: 100%;
  display: flex;
}
.side-menu {
  background-color: var(--side-menu-background);
  margin: 0px;
  width: var(--side-menu-width);
  height: 100%;
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.side-menu__item {
  list-style-type: none;
  text-align: center;
}

.side-menu__item a {
  line-height: 100px;
  color: var(--text-color);
  /* font-size: 30px; */
  text-decoration-line: none;
}

.setting {
  background-color: var(--setting-background);
  width: var(--setting-panel-width);
  height: 100%;
}

.setting-section {
  margin-top: 30px;
}

.setting-label {
  font-size: 1rem;
  color: var(--text-color);
  margin: 0 10px;
}

.setting-input {
  width: 80px;
}