<header class="main-header">
  <section class="logo">
    <a href="#">imglab</a>
  </section>
  <div class="main-action">
    <ul>
      <li class="main-action__item">
        <a id="load-image-btn" (click)="fileInput.click()" href="#">
          upload<input type="file" style="display: none" (change)="loadImage($event)" #fileInput>
        </a>
      </li>
      <li class="main-action__item"><a id="download-btn" href="#">download</a></li>
    </ul>
  </div>
</header>

<section class="middle-area">
  <app-sidemenu></app-sidemenu>
  <app-workarea></app-workarea>
</section>

<footer>
  <p>&copy; 2020 Developed by Wei Zhou. All rights reserved.</p>
</footer>
